version: "3.8"

services:
  stokercloud-ntfy:
    build: .
    container_name: stokercloud-ntfy
    restart: unless-stopped
    environment:
      STOKERCLOUD_LOGIN_URL: "https://stokercloud.dk/v2/dataout2/login.php"
      STOKERCLOUD_ACCEPT_TERMS_URL: "https://stokercloud.dk/v2/dataout2/acceptterms.php"
      STOKERCLOUD_CONTROLLERDATA_URL: "https://stokercloud.dk/v2/dataout2/controllerdata2.php"
      STOKERCLOUD_USER: "your_username_here"
      STOKERCLOUD_PASSWORD: "your_password_here"
      LOW_THRESHOLD_KG: "100"         ### alert when <= this amount left
      MAX_CAPACITY_KG: "500"          ### for percentage in messages
      CHECK_INTERVAL_SECONDS: "300"   ### 5 minutes in seconds
      NTFY_SERVER: "https://ntfy.sh"
      NTFY_TOPIC: "my-stoker-alerts"
      NTFY_TITLE: "Pellet hopper low"
      NTFY_PRIORITY: "4"
      MIN_ALERT_INTERVAL_MIN: "60"    ### minutes time between alerts
      LOG_LEVEL: "INFO"